.container hr{
    width: 6%;
    border: 1px var(--fc) solid;
    margin: 1% auto;
}

.container p{
    font-size: 24px;
}

.contacto{
    padding: 3% 14%;
}

.contacto-info{
    margin-top: 3%;
    text-align: justify;
}

.pasos{
    display: flex;
    justify-content: space-between;
}

.tarjeta{
    margin-top: 3%;
    width: 20%;
    height: auto;
    background: var(--med);
    padding: 3%;
    border-radius: 10%;
    text-align: center;
}

.tarjeta p{
    font-size: 22px;
    margin-top: 10%;
}