*{
    margin: 0;
    padding: 0;
}

:root {
    --bg: #F9F9F9;
    --fc: #4E4038;
    --med: #EDE6D9;
    --ds: #b6a792;
    --st: #B3B8BB;
    --ft: #4B517B;
}

body{
    background-color: var(--bg);
    color: var(--fc);
    font-size: 16px;
    font-family: 'Tinos', sans-serif;
    position: absolute;
}

a{
    text-decoration: none;
    color: var(--fc);
}

li{
    list-style: none;
}

.top{
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width: 100%;
}

.titulo{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

/*MEDIOS*/
.medios { 
    background-color: var(--med);
    padding: 10px;
}

.mediosLista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.mediosLista li {
    padding: 0 40px 0 40px;
}


/*NAVEGACION*/
.nav-main{
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: var(--bg);
}

.nav-main img {
    margin-left: 126px;
    width: 103px;
    height: 104px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 161px;
}

.nav-menu li a{
    display: block;
    padding: 0 20px;
}

.nav-menu li ul {
    display:none;
    position:absolute;
    text-transform: initial;
    background-color: var(--bg);
}

.nav-menu li ul li a{
    padding: 10px;
    text-align: center;
}

.nav-menu li:hover > ul {
    display:block;
}

.nav-main ul a:hover{
    text-decoration: underline;
}


/*FOOTER*/
footer{
    width: 100%;
    background: var(--ft);
    color: var(--bg);
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

footer a{
    color: var(--bg);
}

footer hr {
    width: 50px;
    margin: 10px;
}

footer h3{
    text-transform: uppercase;
}

footer li{
    padding: 10px 0;
}

.footer-empresa{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    margin: 10px 0 10px 0;
}

.footer-empresa img{
    width: 176px;
    margin-bottom: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0;
}

.btn-redes{
    display: flex;
}

.btn-redes a{
    margin: 15px;
}

.derechos {
    text-align: center;
    padding: 10px;
}
