*{
    margin: 0;
    padding: 0;
}

:root {
    --bg: #F9F9F9;
    --fc: #4E4038;
    --med: #EDE6D9;
    --ds: #b6a792;
    --st: #B3B8BB;
    --ft: #4B517B;
}

body{
    background-color: var(--bg);
    color: var(--fc);
    font-size: 16px;
    font-family: 'Tinos', sans-serif;
    position: absolute;
}

a{
    text-decoration: none;
    color: var(--fc);
}

li{
    list-style: none;
}

.top{
    position: fixed;
    width: 100%;
}

.menu-btn{
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width: 100%;
}

.titulo{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

/*MEDIOS*/
.medios { 
    background-color: var(--med);
    padding: 10px;
}

.mediosLista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.mediosListaMovil{
    display: none;
}

.mediosLista li {
    padding: 0 5%;
}


/*NAVEGACION*/
.nav-main{
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--bg);
    
}

.nav-main img {
    
    width: 103px;
    height: 104px;
    
}

.nav-menu {
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-menu li a{
    display: block;
    padding: 0 20px;
}

.nav-menu li ul {
    display:none;
    position:absolute;
    text-transform: initial;
    background-color: var(--bg);
}

.nav-menu li ul li a{
    padding: 10px;
    text-align: center;
}

.nav-menu li:hover > ul {
    display:block;
}

.nav-main ul a:hover{
    text-decoration: underline;
}


/*FOOTER*/
footer{
    width: 100%;
    background: var(--ft);
    color: var(--bg);
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

footer a{
    color: var(--bg);
}

footer hr {
    width: 50px;
    margin: 10px;
}

footer h3{
    text-transform: uppercase;
}

footer li{
    padding: 10px 0;
}

.footer-empresa{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    margin: 10px 0 10px 0;
}

.footer-empresa img{
    width: 176px;
    margin-bottom: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0;
}

.btn-redes{
    display: flex;
}

.btn-redes a{
    margin: 15px;
}

.derechos {
    text-align: center;
    padding: 10px;
}

@media (max-width:956px){
    
    
    .titulo{
        font-size: 22px;
    }
    
    .mediosLista {
        font-size: 16px;
    }
    
    .mediosLista li {
        padding: 0 3%;
    }

    .nav-main{
        font-size: 1rem; /*test*/
        padding: 18px;
    }
    
    .nav-main img {
        
        width: 90px;
        height: 90px;
    }

    .nav-menu{
        padding-right: 0%;
    }
    
    .nav-menu li a{
        padding: 0 10px;
    }
    
    footer{
        font-size: 18px;
        flex-wrap: wrap;
    }
    
    footer li{
        padding: 10px 0;
    }
    
    .footer-empresa{
        width: 15%;
        font-size: 18px;
        padding: 10px;
        margin: 10px 0;
        flex-grow: .5;
    }
    
    .footer-empresa img{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .footer-section {
        padding: 20px 0;
        margin: 10px 0;
    }

    h3{
        font-size: 18px;
    }
}

@media (max-width:414px){
    .medios { 
        background-color: var(--med);
        padding: 10px;
    }
    
    .mediosLista{
        display: none;
    }

    .mediosListaMovil{
        display: flex;
    }

    .mediosListaMovil li{
        margin: 0 20px;
    }

    .nav-main img {
        width: 68px;
        height: 69px;
    }
    
    .nav-main{
        padding: 4px;
        
    }

    .nav-menu {
        display: none;
    }

    .menu-btn{
        display: block;
        position: fixed;
        cursor: pointer;
        top: 65px;
        right: 30px;
        z-index: 2;
        font-size: 1.5rem;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        
        top: 0;
        left: 0;
        background: var(--med);
        height: 500%;
        
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-menu li ul {
        background-color: var(--med);
    }

    .nav-menu li ul.show{
        display: block;
    }

    .nav-menu li ul li a{
        padding: 0;
    }

    .container{
        margin-top: 120px;
    }

}