 
.container{
    font-size: 24px;
    text-align: justify;
    align-items: inherit;
}

.somos{
    background: var(--st);
    padding: 5% 4%;
    text-align: center;
    color: black;
}

.somos p{
    margin-top: 2%;
}

.vision{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.prioridad{
    display: flex;
    align-items: center;
}

.info{
    padding: 2% 6%;
    width: 50%;
}

.info p{
    margin-top: 5%;
}

.img-nosotros{
    width: 50%;
    
}

.valores {
    width: 100%;
    background-color: var(--ds);
    padding: 4%;
}

.grupo-valores{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.grupo-valores li{
    padding: 4% 4% 0 4%;
    justify-self: center;
    text-align: center;
}

@media (max-width: 956px){
    .container p{
        font-size: 1.2rem;
    }

    .valores {
        padding: 3%;
    }

    .grupo-valores li{
        margin: 2% 3% 0 3%;
    }

    .grupo-valores{
        grid-template-columns: repeat(3,1fr);
    }

    .grupo-valores img {
        width: 70%;
    }
}

@media screen and (max-width: 500px){

    .container h2{
        font-size: 20px;
    }

    .somos{
        text-align: justify;
        padding: 10%;
        
    }
    .somos p{
        padding-top: 10px;
    }

    .vision{
        flex-direction: column-reverse;
    }
    
    .prioridad{
        flex-direction: column-reverse;
    }

    .img-nosotros{
        width: 100%;
    }

    .info{
        width: 100%;
        padding: 10%;
    }

    .valores{
        padding: 10%;
    }
    .grupo-valores{
        grid-template-columns: repeat(2,1fr);
    }

}